<a href="https://colab.research.google.com/github/Garypythonn/streamli/blob/main/Capitulo1Parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cap√≠tulo 1, Parte 2

# 1.11. Naming a Slice  

Problem:
Your program has become an unreadable mess of hardcoded slice indices and you want
to clean it up.

In [ ]:

##pos###'012345678901234567890123456789012345678901234567890'
record ='....................100         .......513.25     ..........'
int(record[20:32]) * float(record[39:49])

51325.0

In [ ]:
#SLICING: Extracci√≥n de elementos de objetos(listas, tuplas,strings)
## Forma 1
items=[5,6,10,15,2,0,24,5]

#items[2:6]  #Extrae desde la pos# 2 hasta la pos# 5 (No incluye el elemento de la pos# 6)

#items[3:] #Extrae desde la pos#3 en adelante

#items[1:6:2]  #Extrae desde pos# 1 hasta pos# 5 de a 2 pasos ( uno si, otro no)

In [ ]:
## Forma 2: Creando un slice

s=slice(2,6)  
items[s]

#items[s]=[100,200,300,400]  #Edita los elementos especificados por el slice
#items

#del items[s]   # Borra los elementos espeficidados por el slice
#items


#a=slice(1,6,2)  
#items[a]

##'012345678901234'
#S='hola-para-todos'
#c=slice(5,9)
#S[c]

'para'

In [ ]:
#Obtener informacion de un slice
b=slice(5, 50, 2)

b.start
#b.stop
#b.step

5

In [ ]:
stg='HelloWorld'
b.indices(len(stg))  #Devuelve una tupla con (start, stop, step) donde  los valores del slice se 
                     #ajustan al tama√±o de stg

(5, 10, 2)

In [ ]:
#for i in range(*b.indices(len(stg))):
 # print(stg[i])

W
r
d

In [ ]:
# Convertir strings a n√∫meros (integer o float)

n='12568'
#type(n)
int(n)   # convierte el string n en entero.

#f='3.1415'
#float(f)  # convierte el string f a decimal.

3.1415

In [ ]:
#Solucion Problema: Ejercicio

##pos### '01234567890123456789012345678901234567890123456789012345'
record  ='....................100          .......513.25     ..........'
record1 ='....................    320      .......    1130.26..........'

# 1.12. Determining the Most Frequently Occurring Items in a Sequence
Problem:
You have a sequence of items, and you‚Äôd like to determine the most frequently occurring
items in the sequence.

# 1.13. Sorting a List of Dictionaries by a Common Key
Problem:
You have a list of dictionaries and you would like to sort the entries according to one
or more of the dictionary values.

# 1.14. Sorting Objects Without Native Comparison Support
Problem:
You want to sort objects of the same class, but they don‚Äôt natively support comparison
operations

# 1.15. Grouping Records Together Based on a Field
Problem:
You have a sequence of dictionaries or instances and you want to iterate over the data
in groups based on the value of a particular field, such as date.

#1.16. filtrando elmentos de una sequencia
‚ùì ‚ùì ‚ùì
Problema:
Tenemos datos dentro de una sucesi√≥n, y necesitamos extraer sus valores o reducir la sucesi√≥n por medio de alg√∫n criterio.

In [ ]:
https://sawanrai777.medium.com/have-fun-with-emojis-in-jupyter-notebook-f74db7f45210

In [4]:
#Supongamos que queremos filtrar la siguiente lista generando una lista de positivos y una de negativos:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]
#Forma larga:
pos=[]
for i in range(len(mylist)):
  pos.append(mylist[i])
pos 
#[n for n in mylist if n > 0]
#[1, 4, 10, 2, 3]
#[n for n in mylist if n < 0]
#[-5, -7, -1]

[1, 4, -5, 10, -7, 2, 3, -1]

In [ ]:
pos = (n for n in mylist if n > 0)
pos

#for x in pos:
  #print(x)

In [ ]:
values = ['1', '2', '-3', '-', '4', 'N/A', '5']
def is_int(val):
try:
x = int(val)
return True
except ValueError:
return False
ivals = list(filter(is_int, values))
print(ivals)

In [ ]:
#Discusi√≥n:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]
import math
[math.sqrt(n) for n in mylist if n > 0]

In [ ]:
clip_neg = [n if n > 0 else 0 for n in mylist]
clip_neg
[1, 4, 0, 10, 0, 2, 3, 0]
clip_pos = [n if n < 0 else 0 for n in mylist]
clip_pos

In [ ]:
addresses = [
'5412 N CLARK',
'5148 N CLARK',
'5800 E 58TH',
'2122 N CLARK'
'5645 N RAVENSWOOD',
'1060 W ADDISON',
'4801 N BROADWAY',
'1039 W GRANVILLE',
]
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [ ]:
from itertools import compress
more5 = [n > 5 for n in counts]
more5
list(compress(addresses, more5))
['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

# 1.17. Extracting a Subset of a Dictionary
Problem:
You want to make a dictionary that is a subset of another dictionary.

In [ ]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}
# Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }

In [ ]:
p1 = dict((key, value) for key, value in prices.items() if value > 200)

In [ ]:
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:prices[key] for key in prices.keys() & tech_names }

# 1.18. Mapping Names to Sequence Elements
Problem:
You have code that accesses list or tuple elements by position, but this makes the code
somewhat difficult to read at times. You‚Äôd also like to be less dependent on position in
the structure, by accessing the elements by name.

In [ ]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}
# Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }

In [ ]:
p1 = dict((key, value) for key, value in prices.items() if value > 200)

In [ ]:
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:prices[key] for key in prices.keys() & tech_names }

In [ ]:
>>> from collections import namedtuple
>>> Subscriber = namedtuple('Subscriber', ['addr', 'joined'])
>>> sub = Subscriber('jonesy@example.com', '2012-10-19')
>>> sub
Subscriber(addr='jonesy@example.com', joined='2012-10-19')
>>> sub.addr
'jonesy@example.com'
>>> sub.joined
'2012-10-19'

In [ ]:
len(sub)
2
>>> addr, joined = sub
>>> addr
'jonesy@example.com'
>>> joined
'2012-10-19'

In [ ]:
def compute_cost(records):
total = 0.0
for rec in records:
total += rec[1] * rec[2]
return total

In [ ]:
from collections import namedtuple
Stock = namedtuple('Stock', ['name', 'shares', 'price'])

def compute_cost(records):
total = 0.0
for rec in records:
s = Stock(*rec)
total += s.shares * s.price
return total

In [ ]:
s = Stock('ACME', 100, 123.45)
>>> s
Stock(name='ACME', shares=100, price=123.45)
>>> s.shares = 75
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
AttributeError: can't set attribute

In [ ]:
>>> s = s._replace(shares=75)
>>> s
Stock(name='ACME', shares=75, price=123.45)

In [ ]:
from collections import namedtuple
Stock = namedtuple('Stock', ['name', 'shares', 'price', 'date', 'time'])
# Create a prototype instance
stock_prototype = Stock('', 0, 0.0, None, None)
# Function to convert a dictionary to a Stock
def dict_to_stock(s):
return stock_prototype._replace(**s)

In [ ]:
>>> a = {'name': 'ACME', 'shares': 100, 'price': 123.45}
>>> dict_to_stock(a)
Stock(name='ACME', shares=100, price=123.45, date=None, time=None)
>>> b = {'name': 'ACME', 'shares': 100, 'price': 123.45, 'date': '12/17/2012'}
>>> dict_to_stock(b)
Stock(name='ACME', shares=100, price=123.45, date='12/17/2012', time=None)

# 1.19. Transforming and Reducing Data at the Same Time
Problem:
You need to execute a reduction function (e.g., sum(), min(), max()), but first need to
transform or filter the data.

In [ ]:
nums = [1, 2, 3, 4, 5]
s = sum(x * x for x in nums)
Here are a few other examples:
# Determine if any .py files exist in a directory
import os
files = os.listdir('dirname')
if any(name.endswith('.py') for name in files):
print('There be python!')
else:
print('Sorry, no python.')
# Output a tuple as CSV
s = ('ACME', 50, 123.45)
print(','.join(str(x) for x in s))
# Data reduction across fields of a data structure
portfolio = [
{'name':'GOOG', 'shares': 50},
{'name':'YHOO', 'shares': 75},
{'name':'AOL', 'shares': 20},
{'name':'SCOX', 'shares': 65}
]
min_shares = min(s['shares'] for s in portfolio)

In [ ]:
s = sum((x * x for x in nums)) # Pass generator-expr as argument
s = sum(x * x for x in nums) # More elegant syntax

In [ ]:
nums = [1, 2, 3, 4, 5]
s = sum([x * x for x in nums])

In [ ]:
#Original: Returns 20
min_shares = min(s['shares'] for s in portfolio)
# Alternative: Returns {'name': 'AOL', 'shares': 20}
min_shares = min(portfolio, key=lambda s: s['shares'])

#1.20. Combining Multiple Mappings into a Single
Mapping
Problem:
You have multiple dictionaries or mappings that you want to logically combine into a
single mapping to perform certain operations, such as looking up values or checking
for the existence of keys.

In [ ]:
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }

In [ ]:
from collections import ChainMap
c = ChainMap(a,b)
print(c['x']) # Outputs 1 (from a)
print(c['y']) # Outputs 2 (from b)
print(c['z']) # Outputs 3 (from a)

In [ ]:
len(c)
3
>>> list(c.keys())
['x', 'y', 'z']
>>> list(c.values())
[1, 2, 3]

In [ ]:
c['z'] = 10
>>> c['w'] = 40
>>> del c['x']
>>> a
{'w': 40, 'z': 10}
>>> del c['y']

In [ ]:
>>> values = ChainMap()
>>> values['x'] = 1
>>> # Add a new mapping
>>> values = values.new_child()
>>> values['x'] = 2
>>> # Add a new mapping
>>> values = values.new_child()
>>> values['x'] = 3
>>> values
ChainMap({'x': 3}, {'x': 2}, {'x': 1})
>>> values['x']
3
>>> # Discard last mapping
>>> values = values.parents
>>> values['x']
2
>>> # Discard last mapping
>>> values = values.parents
>>> values['x']
1
>>> values
ChainMap({'x': 1})

In [ ]:
>>> a = {'x': 1, 'z': 3 }
>>> b = {'y': 2, 'z': 4 }
>>> merged = dict(b)
>>> merged.update(a)
>>> merged['x']
1
>>> merged['y']
2
>>> merged['z']

In [ ]:
a['x'] = 13
>>> merged['x']

In [ ]:
a = {'x': 1, 'z': 3 }
>>> b = {'y': 2, 'z': 4 }
>>> merged = ChainMap(a, b)
>>> merged['x']
1
>>> a['x'] = 42
>>> merged['x'] # Notice change to merged dicts

In [ ]:
pip install emoji --upgrade

In [2]:
import emoji
print(emoji.emojize('Phd is very easy!!! :thumbs_up:'))

Phd is very easy!!! üëç

üßÆ